<div class="container">
    <div class="row">
      <div class="col-md-4">
          <div class="drag-container">
              <div class="section-heading">Open</div>
          
              <div cdkDropList #openList="cdkDropList" [cdkDropListData]="open" [cdkDropListConnectedTo]="[inprogressList,completedList]"
                class="item-list" (cdkDropListDropped)="drop($event)">
                <div class="item-box" *ngFor="let ans of databaseValues" cdkDrag>{{ans.open}}</div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="drag-container">
              <div class="section-heading">Work In Progress</div>
          
              <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogress" [cdkDropListConnectedTo]="[openList,completedList]"
                class="item-list" (cdkDropListDropped)="drop($event)">
                <div class="item-box"  *ngFor="let ans of databaseValues" cdkDrag>{{ans.inprogress}}</div>
              </div>
            </div>
      </div>
      <div class="col-md-4">
          <div class="drag-container">
              <div class="section-heading">Complete</div>
          
              <div cdkDropList #completedList="cdkDropList" [cdkDropListData]="completed" [cdkDropListConnectedTo]="[openList,inprogressList]"
                class="item-list" (cdkDropListDropped)="drop($event)">
                <div class="item-box" *ngFor="let ans of databaseValues" cdkDrag>{{ans.completed}}</div>
              </div>
            </div>
      </div>
    </div>
</div>